/node_modules
/public/hot
/public/storage
/public/mobile
/public/admin
/public/index
/resources/views/admin/index.blade.php
/resources/views/mobile/index.blade.php
/public/*.js
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
