// Panels
$panel-default-heading-bg: #fff;
//颜色主题配置
$white: #fff;
$light-white: #f7f7f7;
$silver: #eff2f7;
/*********蓝色************/

$primary: #169a85;
$light-primary: #1ABC9C;
$blue: #0396FF;
$light-blue: #1FB8F2;

$dark-madison:#283852;
/**********黑灰色************/
$dark: #454552;
$darker: #34314c;
$font-gray: #5f646e;
$bg-gray: #f3f4f5;
$bg-light-gray:#FCFCFC;

$bg-dark:#4a5260;
$border-darker: #c9c9c9;
$border-gray: #E5E5E5;
$font-gray:#ACB3D4;
$light-gray: #f9f9f9;
$gray: #e7e7e7;
$gray-darker: #9a9a9a;
/*********安全色************/
$green: #26a866;
$success:#28C76F;
$light-green: #81FBB8;
/***********红色*************/
$red: #db2a36;
$light-red: #ff525d;
$red-darker: #bd2630;
$lighter-yellow: #ffe0b2;
$pink: #ef5285;
$light-pink: #fec8c9;
$light-purple: #a593e0;
$purple: #8E24AA;
$gray-purple: #c89ec5;
/*********橙黄色*********/
$warning: #FEC163;
$orange: #FF7043;
$light-warning:#FFF5E7;
